<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSCameraUsageDescription</key>
	<string>Access required for Sovereign OS Metadata-Hardened Video Loopback.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Access required for Sovereign OS Metadata-Hardened Audio Loopback.</string>
</dict>
</plist>
